@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.backgroundScreen {
    z-index: -5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.backgroundLight {
    height: 100vh;
    width: 100vw;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.glassmorphismEffect {
    border-radius: 10px;
    background: hsla(221, 45%, 12%, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    height: 90vh;
    width: 90vw;
    z-index: -1;
}

.hamburgerButton {
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background-color: #1a243c;
    left: 10%;
}

.hamburgerButton .middle-bar {
    left: calc(50% + 2px);
    width: 15px;
}

.hamburgerButton span {
    transform-origin: center;
    transition: width 1s, transform 1s, left 1s, top 1s;
    display: flex;
    justify-content: center;
    width: 10px;
    border-radius: 3px;
    height: 2px;
    background: whitesmoke;
    top: 33%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hamburgerButton span+span {
    margin-top: 4px;
}

.navbar {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 100;
    position: absolute;
    left: 15%;
}

.searchBar {
    background-color: #1a243c;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    color: whitesmoke;
    padding-left: 13%;
    font-family: 'Roboto', sans-serif;
}

.searchBarContainer {
    padding-left: 33.33%;
    position: relative;
}

input::placeholder {
    font-size: .7rem;
    position: absolute;
    height: .7rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.searchBarContainer img:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
}

.searchBarContainer img:nth-child(3) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5%;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
}

.icons {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 10%;
}

.icons div {
    display: inline-block;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background-color: #1a243c;
}

.icons div+div {
    margin-left: 10px;
}

.icons div img {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    top: 25%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.primarySection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.primaryScreen {
    margin-top: 50px;
    object-fit: cover;
    object-position: top;
    width: 72vw;
    height: 60vh;
    border-radius: 50px;
}

.circleText {
    font-weight: 300;
    height: 160px;
    position: absolute;
    left: 260px;
    top: 135px;
    font-size: .4rem;
    animation: circle 10s linear infinite reverse;
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spanjs {
    position: absolute;
    transform-origin: 0 80px;
    color: whitesmoke;
}

.arrowUpRight {
    position: absolute;
    left: 235px;
    top: 193.33px;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 300;
    font-size: 3vw;
    position: absolute;
    left: 390px;
    top: 100px;
    text-align: justify;
}

.lorem {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 100;
    font-size: .75vw;
    position: absolute;
    left: 41.66vw;
    top: 135px;
    text-align: justify;
    width: 375px;
    line-height: 25px;
}

.cardsSection {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.cards {
    bottom: 100px;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards li {
    list-style-type: none;
}

.cards li img:not(.eth, .rightArrow) {
    object-fit: cover;
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.cards li .descCardOne,
.cards li .descCardTwo,
.cards li .descCardThree,
.cards li .descCardFour {
    border-radius: 5px;
    margin-left: 37.5px;
    margin-right: 37.5px;
    position: absolute;
    bottom: -50px;
    height: 80px;
    width: 225px;
    background: #1a243c;
    color: whitesmoke;
    align-items: center;
}

.cards li div h2 {
    margin: 10px;
    font-size: .85rem;
    font-weight: 300;
    height: 10px;
}

.firstNum,
.secondNum,
.thirdNum,
.fourthNum {
    position: absolute;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 62.5px;
    top: 10px;
    right: 10px;
    height: 21px;
    width: 30px;
    background: #101725;
    color: whitesmoke;
}

.test {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

img.eth {
    margin-left: 15px;
    height: 25px;
    width: 25px;
}

span.price {
    font-weight: 300;
    font-size: 1.2vw;
    margin-left: 10px;
    margin-right: auto;
}

img.rightArrow {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}